h1{
    color: white;
    background-color: black;
    font-family: "Libre Baskerville",serif;
    text-transform: uppercase;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;  
   
}
p{
    color: white;
    text-align: center;
}
div{
    width: 50%;
    margin-left: 25%;
}
*{
    background-color: black;
    
}
